html {
  font-family: 'Consolas', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2B3A42;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 42px;
  text-align: center;
}
